// Set your brand colors
$wine:#61082B;
$lightBlue: #11ABC1;
// #FACD3D;
//#E60576
//#DF3062
//#DDEDF4 (light blue)
//#61082B (wine)
//#11ABC1 (blue)
//#F5B935 (yellow)
//$border: #c3cfd9;
$primary: $wine;

$gradient: linear-gradient(47deg, rgba(121,9,74,1) 0%, rgba(161,33,62,1) 37%, rgba(255,129,87,1) 100%);