@charset "utf-8";

@import "../../../node_modules/bulma/bulma.sass";

// Custom CSS - Bulma Overrides

// Modules - mostly contains variables, mixins and functions.
@import "modules/colors";

// Partials - components like buttons, header, footer, typography
@import "partials/typography";

@import "partials/layout";

// html, body, #landingBody {
//   height: 100%;
//   margin: 0;
//   background: rgb(121,9,74);
//   background: linear-gradient(47deg, rgba(121,9,74,1) 0%, rgba(161,33,62,1) 37%, rgba(255,129,87,1) 100%);
// }

// CARD STYLING

:root {
  --primary: #ddd;
  --dark: #201f1f;
  --light: #fff;
  --shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

// .info {
//   background: var(--primary);
//   box-shadow: var(--shadow);
//   display: grid;
//   gap: 30px;
//   grid-template-columns: repeat(2, 1fr);
//   padding: 3rem;
// }

// body {
//   background: rgb(121,9,74);
//   background: linear-gradient(47deg, rgba(121,9,74,1) 0%, rgba(161,33,62,1) 37%, rgba(255,129,87,1) 100%);
//   background-size: cover;
//   height: 100vh;
//   width: 100%;
//   padding: 10%;
// }

.gradient-background {
  background: rgb(121,9,74);

  background: $gradient;
  background: linear-gradient(47deg, rgba(121,9,74,1) 0%, rgba(161,33,62,1) 37%, rgba(255,129,87,1) 100%);
  height: 100%;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.landing-text {
  margin-left: 20%;
  margin-right: 20%;
}

.landing-wrapper {
  padding: 10%
}

.wrapper {
  padding: 8%
}


.is-rounded{
  width: 200px;
  height: auto;
 }

.input1 {
  border-left-color: white;
  border-top-color: white;
  border-right-color: white;
  border-bottom-style: groove;
  background-color: transparent;
  border-bottom-width: 1.5px;
  border-top-style: hidden;
  border-left-style: hidden;
  width: 100%;
  
 }



//  .registerForm .input:focus {
//   border-top-style: hidden;
//   border-right-style: hidden;
//   border-left-style: hidden;
//   outline: none;
//  }

a {
  color: rgb(255, 108, 23);
  text-align: center;
  display: grid;
}
 
.form .is-rounded {
 width: 200px;
 height: auto;
 margin-bottom: -100px;
}

.landingLogo{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.logoTitle
{
 color: white;
 font-size: 7vw;
}

.browseBtn {
  color: white;
  background-color: rgba(255, 108, 23, 0);
  border: solid;
  border-width: 1px;
  border-color: white;
  margin-top: 6%;
  margin-right: 3%;
  padding: 25px 60px;
  border-radius: 30px;
  font-weight: bold;
}

.browseBtn:hover {
  color: white;
  background-color: rgb(255, 108, 23);
  border: solid;
  border-width: 1px;
  border-color: rgb(255, 108, 23);
  margin-top: 6%;
  padding: 25px 60px;
  border-radius: 30px;
  font-weight: bold;
}

.primaryBtn{
  color: white;
  background-color: rgb(255, 108, 23);
  border: solid;
  border-width: 1px;
  border-color: rgb(255, 108, 23);
  margin-top: 6%;
  padding: 25px 60px;
  border-radius: 30px;
  font-weight: bold;
}

.primaryBtn:hover{
  color: white;
  background-color: rgb(253, 137, 69);
  border: solid;
  border-width: 1px;
  border-color: rgb(253, 137, 69);
  margin-top: 6%;
  padding: 25px 60px;
  border-radius: 30px;
  font-weight: bold;
}

.formRight .label{
  padding-top: 30px;
}

.formRight .primaryBtn{
  margin: 50px 20px 0px;
  align-content: center;
  display: flex;
}

.landingLogo {
  margin-bottom: 5%;
  display: grid;
  justify-content: center;
  text-align: center;

}

.formLogo {
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 5%;
  margin-top: 30px;
}

.landingBtns {
  display: flex;
  justify-content: center;
  
}

.form {
  background-color: white;
  box-shadow: var(--shadow);
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding: 5rem;
  margin: 0rem 20rem;
  border-radius: 25px;
}


@media only screen and (max-width: 768px) {
  
}
@media only screen and (max-width: 500px) {
  
 
}
@media only screen and (max-width: 1024px) {
  

}
