@charset "utf-8";

@import "../../../node_modules/bulma/bulma.sass";

// Custom CSS - Bulma Overrides

// Modules - mostly contains variables, mixins and functions.
@import "modules/colors";

// Partials - components like buttons, header, footer, typography
@import "partials/typography";

@import "partials/layout";

// CARD STYLING

:root {
  --primary: #ddd;
  --dark: #201f1f;
  --light: #fff;
  --shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

// .gradient-background {
//   background: rgb(121,9,74);
//   background: $gradient;
//   background: linear-gradient(47deg, rgba(121,9,74,1) 0%, rgba(161,33,62,1) 37%, rgba(255,129,87,1) 100%);
//   height: 100%;
//   background-size: cover;
//   height: 100vh;
//   width: 100%;
// }

html {
  background: rgb(121,9,74);
  background: $gradient;
  background: linear-gradient(47deg, rgba(121,9,74,1) 0%, rgba(161,33,62,1) 37%, rgba(255,129,87,1) 100%);
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

.landing-text {
  margin-left: 20%;
  margin-right: 20%;
}

.landing-wrapper {
  padding: 10%
}

.landingLogo {
  margin-bottom: 5%;
  display: grid;
  justify-content: center;
  text-align: center;
}

.wrapper {
  padding: 10%
}

.categoriesMenu{
  margin-left: 1110px;
  margin-top: 15px;
}

.alingElementNav{
  display: flex;
}

.nav-logo{
  margin-top: 15px;
  margin-left: 70px;
  width: 100px;
  height: auto;
 }

.is-rounded1{
  width: 200px;
  height: auto;
 }

.input1 {
  border-left-color: white;
  border-top-color: white;
  border-right-color: white;
  border-bottom-style: groove;
  background-color: transparent;
  border-bottom-width: 1.5px;
  border-top-style: hidden;
  border-left-style: hidden;
  width: 100%;
  margin-top: 4%;
  margin-bottom: 4%;
 }

 .textarea {
    border-width: 1.5px;
    margin-top: 4%;
    margin-bottom: 4%;
 }

.alingSearchBar {
  margin: auto;
  width: 70%;
  padding: 10px;
}

 .searchBar {
  width: 80%;
 }

a {
  color: rgb(255, 108, 23);
  text-align: center;
  display: grid;
}

a:hover {
  color: rgb(253, 137, 69);
}
 
.form .is-rounded1 {
 width: 200px;
 height: auto;
}

.landingLogo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.browseBtn {
  color: white;
  background-color: rgba(255, 108, 23, 0);
  border: solid;
  border-width: 1px;
  border-color: white;
  margin-top: 6%;
  margin-right: 3%;
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: bold;
}

.browseBtn:hover {
  color: white;
  background-color: rgb(255, 108, 23);
  border: solid;
  border-width: 1px;
  border-color: rgb(255, 108, 23);
  margin-top: 6%;
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: bold;
}

.primaryBtn {
  color: white;
  background-color: rgb(255, 108, 23);
  border: solid;
  border-width: 1px;
  border-color: rgb(255, 108, 23);
  margin-top: 6%;
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: bold;
}

.primaryBtn:hover {
  color: white;
  background-color: rgb(253, 137, 69);
  border: solid;
  border-width: 1px;
  border-color: rgb(253, 137, 69);
  margin-top: 6%;
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: bold;
}

.formRight .primaryBtn {
  margin: 50px 20px 0px;
  align-content: center;
  display: grid;
}

.formRight {
  display: grid;
  padding: 5%;
  min-width: 60%;
}

.formRight {
  display: grid;
  padding: 5%;
  // min-width: 60%;
}

.formLeft {
  display: grid;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.landingBtns {
  display: flex;
  justify-content: center;
  
}

.form {
  display: grid;
  background-color: white;
  box-shadow: var(--shadow);
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
  margin: 10rem 25rem;
  border-radius: 25px;
}

.itemForm {
  background-color: white;
  box-shadow: var(--shadow);
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  margin: 5% 10%;
  border-radius: 25px;
  max-width: 90rem;
  max-height: 80vh;
}

.cityImg {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  height: 80vh;
  max-width: 100%;
  min-width: 80%;
}

// .imgContainer {
//   width: 90%;
// }

// form {
//   margin-top: 8%;
// }

//----------- ItemDetails----------------//
.itemDetails{
    background-color: white;
    box-shadow: var(--shadow);
    //grid-template-columns: repeat(2, 1fr);
    display: flex;
    margin: 5% 10%;
    border-radius: 25px;
    // max-width: 90rem;
    // max-height: 80vh;
    padding: 5%;
    // align-items: center;
    justify-content: center;
    flex-direction: column;
}

.itemImg{
   
    // max-height: 80vh;
}

.description{

}


@media only screen and (max-width: 768px) {
  
}
@media only screen and (max-width: 500px) {
  
 
}
@media only screen and (max-width: 1024px) {
  

}
